---
import Icon, { type Props as IconProps } from '@components/Icon.astro';

const currentYear = new Date().getFullYear();

const userName = 'avonbied';

const iconLinks: { label: string; href: string; icon: IconProps['icon'] }[] = [
	{ label: 'LinkedIn', href: `https://linkedin.com/in/${userName}`, icon: 'linkedin' },
	{ label: 'GitHub', href: `https://github.com/${userName}`, icon: 'github' },
	{ label: 'Dev.To', href: `https://dev.to/${userName}`, icon: 'devto' },
	{ label: 'Twitter', href: `https://twitter.com/${userName}`, icon: 'twitter' },
];
const TODAY = new Date(Date.now());
---
<footer>
	<section>
		<small>&copy; {currentYear} Lex von Biedenfeld</small> | <small>Last updated <time datetime={`${TODAY.getUTCFullYear()}-${TODAY.getUTCMonth()+1}-${TODAY.getUTCDay()+1}`}>{TODAY.toLocaleDateString('en',{year:'numeric',month:'short',day:'numeric'})}</time></small>
	</section>
	<section class="socials">
		{iconLinks.map(({ href, icon, label }) => (
			<a href={href} class="social">
				<Icon icon={icon} size="2em" alt={label} />
			</a>
		))}
	</section>
</footer>

<style lang="scss">
footer {
	background-color: #171718;
	color: #fff;
	padding: 0 64px;
	section {
		padding: 8px;
	}
	.socials {
		display: flex;
		justify-content: center;
		gap: 24px;
		:global(img) {
			height: 3em;
		}
	}
}
@media only screen and (min-width: 50em) {
	footer {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		.socials {
			:global(img) {
				height: 2em;
			}
		}
	}
}
</style>